/*
Navigation Bar = List of Links
A navigation bar needs standard HTML as a base.

Now let's remove the bullets and the margins and padding from the list

Example explained:

list-style-type: none; - Removes the bullets. A navigation bar does not need list markers
Set margin: 0; and padding: 0; to remove browser default settings

To build a vertical navigation bar, you can style the <a> elements inside the list

Example explained:

display: block; - Displaying the links as block elements makes the whole link area clickable (not just the text), and it allows us to specify the width (and padding, margin, height, etc. if you want)
width: 60px; - Block elements take up the full width available by default. We want to specify a 60 pixels width

Add an "active" class to the current link to let the user know which page he/she is on:

.active {
  background-color: #04AA6D;
  color: white;
}

Add text-align:center to <li> or <a> to center the links.

Add the border property to <ul> add a border around the navbar. If you also want borders inside the navbar, add a border-bottom to all <li> elements, except for the last one
*/

.class1{
    font-size: medium;
}

.class2{
    font-size: medium;
}

ul.class1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100px;
}

ul.class1 li a{
    display: block;
    background-color: rgb(230, 87, 87);
}

ul.class1 li a:hover{
    background-color: rgb(21, 255, 0);
}

/*
There are two ways to create a horizontal navigation bar. Using inline or floating list items.

One way to build a horizontal navigation bar is to specify the <li> elements as inline, in addition to the "standard" code from the previous page

display: inline; - By default, <li> elements are block elements. Here, we remove the line breaks before and after each list item, to display them on one line

Another way of creating a horizontal navigation bar is to float the <li> elements, and specify a layout for the navigation links:

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

float: left; - Use float to get block elements to float next to each other
display: block; - Allows us to specify padding (and height, width, margins, etc. if you want)
padding: 8px; - Specify some padding between each <a> element, to make them look good
background-color: #dddddd; - Add a gray background-color to each <a> element
Tip: Add the background-color to <ul> instead of each <a> element if you want a full-width background color

*/

ul.class2{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 300px;
}

ul.class2 li{
    float: left;
}

ul.class2 a{
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    border-right: 2px solid white;
}

ul.class2 a:hover{
    background-color: grey;
}